.analytics-component {
  width: 100%;
  border-top: 1px solid #ececf2;
  border-left: 1px solid #ececf2;
  flex: 1;
  padding: 60px 40px;
}

.ac-data-table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 212px);
  overflow: hidden;
}

.analytics-short-link {
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}
.analytics-original-link {
  white-space: nowrap;
  overflow: hidden;
}
.analytics-short-link:hover,
.analytics-original-link:hover {
  overflow: auto;
}

.analytics-short-link::-webkit-scrollbar,
.analytics-original-link::-webkit-scrollbar {
  height: 0px;
}
