.settings-component {
  width: 100%;
  border-top: 1px solid #ececf2;
  border-left: 1px solid #ececf2;
  flex: 1;
  padding: 60px 40px;
}
.sc-form {
  margin-top: 60px;
  margin-left: 250px;
  width: 400px;
}
.scf-field {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 15px;
}
.scf-field > label {
  width: 100px;
  font-weight: 600;
  color: #181820;
}
.scf-field > input {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #ececf2;
  outline: none;
  padding: 10px 14px;
  color: #3b3c51;
  height: 29px;
}
.scf-btns {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
.scf-btns > button {
  width: 100%;
  margin-bottom: 15px;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  height: 39px;
  border-radius: 6px;
}
.scf-btns > button:nth-child(1) {
  background-color: #1b48da;
  border: 1px solid #1b48da;
}
.scf-btns > button:nth-child(2) {
  background-color: #eb0d0d;
  border: 1px solid #eb0d0d;
}
